{%- macro card(prop) -%}
{% set cardClass %}
{{ 'card--feature-image' if prop.type == 'feature' }}
{% endset %}
<div class="card {{ cardClass }}">
    <img src="{{ prop.image }}" alt="{{ prop.alt }}" />
    <div class="card__content">
        <h3 class="card__title">{{ prop.title }}</h3>

        {% if prop.type == 'feature' %}
        <a href="{{ prop.featureLink }}">
            {{ prop.featureLinkContent | safe }}
        </a>
        {% else %}
            {{ prop.content | safe }}
        {% endif %}
    </div>
</div>
{%- endmacro -%}